Source: kaimini
Section: science
Priority: optional
Maintainer: Frank S. Thomas <fst@debian.org>
Build-Depends: debhelper (>= 8), cmake (>= 2.6), libboost-dev,
 libboost-filesystem-dev, libboost-program-options-dev, docbook2x, docbook-xml
Standards-Version: 3.9.1
Vcs-Git: git://github.com/fthomas/kaimini.git
Vcs-Browser: https://github.com/fthomas/kaimini
Homepage: http://fthomas.github.com/kaimini/

Package: kaimini
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: general purpose fitting and analysis front end
